.FixedWidth1000 {
  .item_1,
  .item_2,
  .item_3,
  .item_4 {
    box-shadow: 0 5px 5px 5px rgba(0, 0, 0, 0.1);
  }

  max-width: 1000px;
  margin-top: 64px;
  h5 {
    font-size: 21px;
    margin-bottom: 12px;
    opacity: 0.6;
  }

  .item_1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    background-color: #1d1929;
    padding: 12px 48px;

    p {
      color: #d1d1d4;
      font-size: 15px;
      max-width: 680px;

      span {
        font-weight: 700;
      }
    }

    .btn {
      display: flex;
      height: 36px;
    }

    .btn_1 {
      color: #fff;
      outline: none;
      border: none;
      background: transparent;
      cursor: pointer;
      margin-right: 12px;
      transition: all 0.1s ease-in-out;

      &:hover {
        transform: translateY(1.5px);
      }
    }
    .btn_2 {
      color: #1d1929;
      background-color: #fff;
      border: 0;
      padding: 12px;
      // border-radius: 5px;
      font-weight: 700;
      cursor: pointer;
      transition: all 0.1s ease-in-out;

      &:hover {
        transform: translateY(1.5px);
      }
    }
  }

  .item_2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    border-radius: 9px;
    background-color: #fff;
    box-shadow: 0 5px 5px 5px rgba(0, 0, 0, 0.1);
    padding: 9px 32px;
    margin-top: 24px;

    p {
      color: #2b3547;
    }

    .img {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30px;
      height: 30px;
      background-color: #c0c6d1;
      border-radius: 50%;
      cursor: pointer;
      transition: all ease-in-out 0.2s;

      &:hover {
        background-color: black;
      }
    }

    img {
      width: 12px;
      height: 12px;
    }
  }

  .item_3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    border-radius: 12px;
    background-color: #fff;
    box-shadow: 0 5px 5px 5px rgba(0, 0, 0, 0.1);
    padding: 24px 32px;
    margin-top: 24px;

    .content {
      .title {
        display: flex;
        align-items: center;
        gap: 9px;
        margin-bottom: 12px;

        h1 {
          color: #484848;
          font-size: 19px;
          margin: 0;
        }
        img {
          width: 16px;
          height: 16px;
        }
      }

      p {
        color: #484848;
        margin: 0;
      }
    }

    .btn {
      display: flex;
    }

    .btn_1 {
      color: #110f14;
      background-color: #fff;
      border: 1px solid #110f14;
      padding: 12px;
      border-radius: 5px;
      font-weight: 700;
      margin-right: 9px;
      cursor: pointer;
      transition: all 0.1s ease-in-out;

      &:hover {
        color: #fff;
        background-color: #110f14;
      }
    }
    .btn_2 {
      color: #110f14;
      background-color: #fff;
      border: 1px solid #110f14;
      padding: 12px;
      border-radius: 5px;
      font-weight: 700;
      cursor: pointer;
      width: 116px;
      height: 40px;
      font-weight: 700;
      color: #fff;
      background-color: #110f14;
      outline: none;
      border-radius: 5px;
      cursor: pointer;
    }
  }

  .item_4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;
    background-color: #fff;
    padding: 12px 24px;
    border: 2px solid #cbd5e4;
    border-radius: 9px;

    .content {
      display: flex;
      align-items: center;

      p {
        display: flex;
        margin-left: 12px;
        font-size: 14px;

        span {
          color: #009e74;
          margin-left: 12px;
          font-weight: 700;
          cursor: pointer;
        }
      }
    }

    .btn_1 {
      color: #fff;
      background-color: #009e74;
      border-radius: 9px;
      font-weight: 400;
      padding: 12px 24px;
      outline: none;
      border: none;
      cursor: pointer;
      transition: all 0.1s ease-in-out;

      &:hover {
        transform: translateY(1.5px);
      }
    }
  }
}
