.FixedWidth190 {
  margin-top: 64px;
  h5 {
    font-size: 21px;
    margin-bottom: 12px;
    opacity: 0.6;
  }

  .item_1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 5px 5px 5px rgba(0, 0, 0, 0.1);
    max-width: 190px;
    border-radius: 12px;
    background-color: #0e1217;
    margin-top: 24px;
    position: relative;

    .close_img {
      position: absolute;
      top: 24px;
      right: 24px;
      cursor: pointer;
    }

    .cookie_img {
      margin-top: 24px;
    }

    p {
      text-align: center;
      color: #cfd6e6;
      font-size: 12px;
      padding: 16px 24px;
      margin: 0;
    }

    .btn {
      display: flex;
      justify-content: space-between;
      margin: 0 24px;
      padding-bottom: 24px;
    }

    .btn_1 {
      border: none;
      outline: none;
      background-color: #ffffff;
      color: #0e1217;
      font-weight: bold;
      font-size: 12px;
      line-height: 20px;
      border-radius: 12px;
      padding: 9px 32px;
      cursor: pointer;
      transition: all 0.1s ease-in-out;

      &:hover {
        transform: translateY(1.1px);
      }
    }
  }
}
